[mysqld]
user=mysql
#使用mysql8以前的密码插件，以便navicat等工具能够正常连接
default_authentication_plugin=mysql_native_password
default-storage-engine=INNODB
character-set-server=utf8mb4
character-set-client-handshake=FALSE
collation-server=utf8mb4_unicode_520_ci
init_connect='SET NAMES utf8mb4'
secure_file_priv=/var/lib/mysql
[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4




